.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include pad-phone {
    max-width: 720px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @include phone {
    max-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* === header === */
.header {
  padding: 30px 88px;
  background-color: $bg-primary;

  @include pad {
    padding-left: 39px;
    padding-right: 39px;
  }
  @media (max-width: 640px) {
    padding: 0 0;
  }

  .content-box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }

  .logo a {
    @include hide-text-in-image;
    background: url("../images/logo.png");
    width: 80px;
    height: 49px;

    @media (max-width: 640px) {
      @include create-icon(48px, 29px);
      @include horizontal-center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;

    @media (max-width: 640px) {
      flex-wrap: wrap;
      text-align: center;
    }

    li {
      a {
        text-decoration: none;
        line-height: 49px; /* 與 logo 一樣高，等同於文字置中效果，若沒設雖然整個 a 因 ai:s 撐開，但文字卻向上靠 */
        /* padding: 0 10px;*/ /* 點擊範圍左右擴大一點 */
        color: $text-white;
      }
      @media (max-width: 640px) {
        width: 50%;
        padding: 8px 0px;
        border: 1px solid $white;
      }
    }
  }
}

.link-products,
.link-places,
.link-blogs {
  margin-right: 64px;

  @include pad {
    margin-right: 40px;
  }

  @media (max-width: 640px) {
    margin-right: 0;
  }
}

/* === footer === */
.footer {
  padding: 32px 0 39px 0;
  background-color: $bg-primary;
  color: $text-white;

  a {
    color: $text-white;
  }

  @include pad {
    padding: 32px 0 21px 0;
  }
  @media (max-width: 640px) {
    padding: 24px 0;
  }

  .container {
    @media (max-width: 640px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    @media (max-width: 640px) {
      display: none;
    }

    li {
      &:not(:first-child) {
        margin-left: 48px;

        @include pad {
          margin-left: 40px;
        }
      }
    }
  }

  .media {
    display: flex;
    justify-content: space-between;

    .icon {
      @include create-icon(48px, 48px);
      @include pad {
        @include create-icon(24px, 24px);
      }
    }
  }

  /* FIXME: 為什麼寫在這裡，瀏覽器就會把 bgsize 給刪掉呢？ */
  // .icon {
  //   width: 24px;
  //   height: 24px;
  //   background-size: 24px 24px;
  // }
}

.facebook,
.instagram {
  margin-right: 32px;
  @include pad {
    margin-right: 24px;
  }
}

.footer-main {
  margin-top: 36px;
  @include pad {
    margin-top: 18px;
  }
  @media (max-width: 640px) {
    order: -1;
    margin-top: 0;
  }
}

.contact-us {
  font-size: 36px;
  padding-bottom: 24px;

  @include pad {
    font-size: 20px;
    padding-bottom: 20px;
  }
  @media (max-width: 640px) {
    font-size: 16px;
    padding-bottom: 24px;
  }

  li {
    display: flex;
    align-items: center;

    .icon {
      @include create-icon(36px, 36px);
      margin-right: 22px;

      @include pad {
        @include create-icon(18px, 18px);
        margin-right: 11px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  /* FIXME: 為什麼寫在這裡，瀏覽器就會把 bgsize 給刪掉呢？ */
  // .icon {
  //   width: 36px;
  //   height: 36px;
  //   margin-right: 22px;
  //   background-size: 36px 36px;
  // }
}

.footer-foot {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  border-top: 1px solid $white;

  @include pad {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }
  @media (max-width: 640px) {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 16px;
  }
}

.rules {
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;

  @include pad {
    margin-top: 36px;
  }
  @media (max-width: 640px) {
    display: block;
    margin-top: 0;
  }

  li {
    margin-left: 48px;

    @media (max-width: 640px) {
      margin-top: 8px;
      margin-left: 0;
    }
  }
}

.copyright {
  font-size: 16px;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}
