@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

body {
  font-family: "Noto Sans TC", "Roboto", serif;
  font-size: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.icon {
  &.diamond {
    background: url($icon-diamond);
  }

  &.diamond-black {
    background: url($icon-diamond-black);
  }

  &.sun {
    background: url($icon-sun);
  }

  &.sun-black {
    background: url($icon-sun-black);
  }

  &.thunder {
    background: url($icon-thunder);
  }

  &.thunder-black {
    background: url($icon-thunder-black);
  }

  &.facebook {
    background: url($icon-facebook);
  }

  &.instagram {
    background: url($icon-instagram);
  }

  &.line {
    background: url($icon-line);
  }

  &.phone {
    background: url($icon-phone);
  }

  &.mail {
    background: url($icon-mail);
  }
}
