.h2 {
  font-size: 48px;
  font-weight: $weight-bold;
}

.h3 {
  font-size: 24px;
  font-weight: $weight-bold;
}

@media (max-width: 992px) {
  .h2 {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .h2 {
    font-size: 24px;
  }
}

/* === banner === */
.banner {
  background: url("../images/banner.png") center center;
  background-size: cover;
  height: 840px;

  /* FIXME: 為什麼 banner 下了 flex 後，container 就會縮到 p 的大小？ */
  /* display: flex; */
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: $text-primary;
  }
}

.sub-slogan {
  font-size: 36px;
}

.slogan {
  font-size: 64px;
  font-weight: $weight-bold;
}

@media (max-width: 992px) {
  .banner {
    background: url("../images/banner-sm.png");
    background-size: cover; /* FIXME: 為什麼這邊還要再下一次才有效呢？照理可以繼承上面的 */
  }

  .sub-slogan {
    font-size: 20px;
  }

  .slogan {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .sub-slogan {
    font-size: 16px;
  }

  .slogan {
    font-size: 32px;
  }
}

/* === brief === */
.brief {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
  background-color: $bg-secondary;

  .h2 {
    color: $text-primary;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
  row-gap: 44px; /* 每行距離 */

  .h3 {
    margin-top: 48px;
    color: $text-primary;
  }

  img {
    @include display-same-height-images(83px);
  }

  p {
    width: 255px;
    text-align: justify;
    margin-top: 8px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .services {
    justify-content: center;
    row-gap: 40px;

    li {
      width: 100%;
    }

    p {
      @include horizontal-center;
      margin-top: 8px;
    }
  }
}

/* === classic ===*/
.classic {
  text-align: center;
  text-transform: uppercase; /* 轉成大寫 */

  .container > .h2 {
    margin-top: 60px;
    color: $text-primary;
  }

  .products {
    margin-top: 40px;

    .h2 {
      font-style: italic;
      font-weight: $weight-black;
      white-space: nowrap; /* 文字不換行 */
      color: $text-alert;
    }

    .icon {
      @include create-icon(32px, 32px);
      display: inline-block;
      margin-right: 10px;
    }
  }

  li {
    display: flex;
    align-items: center;
  }

  img {
    /* FIXME: 為什麼這邊設寬 635、高 320，跟在 HTML img width=635 height=320 顯示起來不一樣？ 而且只能設 width，高不能寫死，高要用 auto 才會正常？ */
    margin-right: 30px;
    width: 635px;
    height: auto;
  }
}

.product-sunglasses,
.product-functional {
  margin-top: 32px;
}

.product-sunglasses {
  flex-direction: row-reverse;

  img {
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  .classic {
    img {
      width: 390px;
      height: auto;
    }

    .products {
      .h2 {
        font-size: 28px;
      }
    }
  }

  .product-sunglasses {
    flex-direction: row;

    img {
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .classic {
    .container > .h2 {
      margin-top: 32px;
    }

    .products {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        @include text-on-image-center(parent);
      }

      img {
        margin-right: 0;
      }

      .h2 {
        @include text-on-image-center(child);
      }
    }
  }
}

/* === co-branded === */
.co-branded {
  background: url("../images/bg.png") center center;
  margin-top: 80px;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
  color: $text-white;

  .products {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: $text-alert;

    li {
      width: 49%;
      @include text-on-image-center(parent);
      background: $white;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 455px;
      background-size: cover; /* 圖片大於要放的框 */
      opacity: 0.7;

      line-height: 455px;
      font-weight: bold;
    }

    p {
      font-size: 72px;
      width: 100%;
      @include text-on-image-center(child);
    }
  }
}

.brand-1 a {
  background: url("../images/product-8.png") center center;
}

.brand-2 a {
  background: url("../images/product-9.png") center center;
}

@media (max-width: 992px) {
  .co-branded {
    .products {
      a {
        height: 278px;
        line-height: 278px;
      }

      p {
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 767px) {
  .co-branded {
    margin-top: 40px;
    padding-top: 32px;

    .products {
      flex-direction: column;
      margin-top: 20px;

      li {
        width: 100%;
      }

      a {
        height: 278px;
        line-height: 278px;
      }

      p {
        font-size: 32px;
      }
    }
  }

  .brand-2 {
    margin-top: 16px;
  }
}

/* === recommendations === */
.recommendations {
  padding-top: 60px;
  padding-bottom: 80px;

  .h2 {
    text-align: center;
    color: $text-primary;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  row-gap: 40px;

  li {
    width: 24%;
    max-width: 255px;
    height: 460px;
    border: 1px solid #dee2e6;
    box-shadow: 0px 2px 6px #00000029;
  }

  img {
    height: 256px;
    object-fit: cover; /* 保持圖片長寬比，並裁剪至適合的大小中 */
  }
}

.cards-content {
  height: calc(100% - 256px); /* 扣掉上面 img 剩下的 */
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .name {
    font-size: 14px;
    line-height: 21px;
  }

  .comment {
    font-size: 16px;
    margin-top: 8px;
  }

  .date {
    font-size: 14px;
    line-height: 21px;
    color: $gray-1;
  }
}

@media (max-width: 992px) {
  .cards {
    justify-content: space-evenly;
    row-gap: 32px;

    li {
      width: 49%;
      max-width: 330px;
    }
  }
}

@media (max-width: 767px) {
  .recommendations {
    padding-top: 32px;
    padding-bottom: 40px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }

  .cards {
    li {
      width: 100%;
    }
  }
}

/* === contact === */
.contact {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: $bg-secondary;

  .container {
    width: 58%;
    max-width: 730px;
  }

  .h2 {
    text-align: center;
  }

  p {
    margin-top: 24px;
  }

  button {
    display: block;
    padding: 16px 143px;
    @include horizontal-center;
    margin-top: 40px;
    border: none;
    font-size: 16px;
    background-color: $bg-primary;
    color: $text-white;
  }
}

.form {
  font-size: 16px;
}

.form-text {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  input {
    height: 50px;
  }

  input,
  textarea {
    background-color: transparent;
    border: 1px solid $black;
  }
}

.form-check {
  display: flex;
  margin-top: 16px;

  input {
    margin-right: 4px;
  }
}

@media (max-width: 992px) {
  .contact {
    .container {
      width: 69%;
    }

    button {
      padding: 10px 77px;
      margin-top: 20px;
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
  .contact {
    padding-top: 30px;
    padding-bottom: 40px;

    .container {
      width: 100%;
    }

    button {
      padding: 8px 55px;
    }
  }
}
