.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* === header === */
.header {
  padding: 30px 88px;
  background-color: $bg-primary;

  .content-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo a {
    display: block;
    background: url("../images/logo.png");
    width: 80px;
    height: 49px;

    /* 圖片取代文字: 文字不顯示在頁面但實際上依舊存在 */
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }

  .menu {
    display: flex;
    justify-content: space-between;

    li a {
      display: block;
      text-decoration: none;
      line-height: 49px; /* 與 logo 一樣高，等同於文字置中效果，若沒設雖然整個 a 因 ai:s 撐開，但文字卻向上靠 */
      /* padding: 0 10px;*/ /* 點擊範圍左右擴大一點 */
      color: $text-white;
    }
  }
}

.link-products,
.link-places,
.link-blogs {
  margin-right: 64px;
}

@media (max-width: 992px) {
  .header {
    padding-left: 39px;
    padding-right: 39px;
  }

  .link-products,
  .link-places,
  .link-blogs {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 0;

    .content-box {
      flex-direction: column;
    }

    .menu {
      flex-wrap: wrap;
      text-align: center;

      li {
        width: 50%;
        padding: 8px 0px;
        border: 1px solid $white;
      }
    }
  }

  .logo a {
    width: 48px;
    height: 29px;
    background-size: 48px 29px; /* 因與原 svg 大小不一樣，故要給 */
    margin: 10px auto 10px auto;
  }

  .link-products,
  .link-places,
  .link-blogs {
    margin-right: 0;
  }
}

/* === footer === */
.footer {
  padding: 32px 0 39px 0;
  background-color: $bg-primary;
  color: $text-white;

  a {
    color: $text-white;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li:not(:first-child) {
      margin-left: 48px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }

  .media {
    display: flex;
    justify-content: space-between;
  }
}

.icon {
  display: block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}

.facebook,
.instagram {
  margin-right: 32px;
}

.footer-main {
  margin-top: 36px;
}

.contact-us {
  font-size: 36px;
  padding-bottom: 24px;

  li {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .icon {
    width: 36px;
    height: 36px;
    margin-right: 22px;
    background-size: 36px 36px;
  }
}

.footer-foot {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  border-top: 1px solid $white;
}

.rules {
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;

  li {
    margin-left: 48px;
  }

  a {
    text-decoration: none;
  }
}

.copyright {
  font-size: 16px;
}

@media (max-width: 992px) {
  .footer {
    padding: 32px 0 21px 0;
  }

  .footer-top {
    .menu {
      li:not(:first-child) {
        margin-left: 40px;
      }
    }
  }

  /* 為什麼寫在這裡，瀏覽器就會把 bgsize 給刪掉呢？ */
  .icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }

  .facebook,
  .instagram {
    margin-right: 24px;
  }

  .footer-main {
    margin-top: 18px;
  }

  .contact-us {
    font-size: 20px;
    padding-bottom: 20px;

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 11px;
      background-size: 18px 18px;
    }
  }

  .footer-foot {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  .rules {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 24px 0;

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .footer-main {
    order: -1;
    margin-top: 0;
  }

  .footer-top {
    .menu {
      display: none;
    }
  }

  .contact-us {
    font-size: 16px;
    padding-bottom: 24px;
  }

  .footer-foot {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-top: 16px;
  }

  .rules {
    display: block;
    font-size: 14px;
    margin-top: 0;

    li {
      margin-top: 8px;
      margin-left: 0;
    }
  }
}
