// === color ===
$white: #fff;
$red-1: #aa0601;
$red-2: #650300;
$red-3: #aa06010d;
$gray-1: #707070;
$black: #000;

// === font size ===
// $font-size-base: 1rem; // 16px
// $font-size-xxl: 72px;
// $font-size-xl: 64px;
// $font-size-lg: 48px;
// $font-size-md: 36px;
// $font-size-normal: 24px;
// $font-size-sm: 20px;
// $font-size-xs: 16px;
// $font-size-xxs: 14px;

// === font weight ===
// $weight-thin: 100;
// $weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

// === margin ===
// $margin-base: 8px;
// $margin-1: 8px;
// $margin-2: 16px;
// $margin-3: 24px;
// $margin-4: 32px;
// $margin-5: 40px;
// $margin-6: 48px;

// === text color ===
$text-primary: $red-2;
$text-alert: $red-1;
$text-white: $white;

// === background color ===
$bg-primary: $red-1;
$bg-secondary: $red-3;

// === title ===
// $h2-font-size: $font-size-lg;
// $h2-font-weight: $font-weight-bold;
// $h3-font-size: $font-size-normal;
// $h3-font-weight: $font-weight-bold;

// === icon url ===
$icon-diamond: "../images/icon-diamond.svg";
$icon-diamond-black: "../images/icon-diamond-black.svg";
$icon-sun: "../images/icon-sun.svg";
$icon-sun-black: "../images/icon-sun-black.svg";
$icon-thunder: "../images/icon-thunder.svg";
$icon-thunder-black: "../images/icon-thunder-black.svg";
$icon-facebook: "../images/icon-fb.svg";
$icon-instagram: "../images/icon-ig.svg";
$icon-line: "../images/icon-line.svg";
$icon-phone: "../images/icon-phone.svg";
$icon-mail: "../images/icon-mail.svg";
