.pagination {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 160px;

  @include pad {
    margin-top: 65px;
    margin-bottom: 96px;
  }
  @include phone {
    margin-top: 40px;
    margin-bottom: 56px;
  }

  li {
    border: 1px solid #555555;
  }

  a {
    color: $black;
    height: 100%;
    text-align: center;
  }

  .pre-page a,
  .next-page a {
    padding: 10px 11px; // 12-1(border)，因整個 width 是 推出來的，不是直接設 width，所以還是要算（若是 width 直接推出來，那 border 會算進 box 裡面）
    font-size: 19px;

    @include phone {
      font-size: 17px;
    }
  }

  .next-page {
    background: #f2f2f2;
  }

  .page {
    a {
      padding: 12px 15px;
      font-size: 18px;

      @include phone {
        padding: 12px 14px;
        font-size: 16px;
      }
    }

    &:nth-child(3) a {
      background: #000;
      color: $white;
    }
  }
}
